# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
#ignore data file
solr/gmax_products/data/index/
solr/gmax_products/data/tlog/
solr/easyshop_products/data/index/
solr/easyshop_products/data/tlog/
solr/easyshop_autosuggest/data/
solr/easyshop_autosuggest/tlog/
solr/trending_search/data/index/
solr/trending_search/data/tlog/
